<div class="item">
  <h1>{{ repository.name }}</h1>
  <p>{{ repository.description }}</p>
  <p>Owner: {{ repository.owner.login }}</p>
  <p *ngIf="repository.language">Language: {{ repository.language }}</p>
  <p>Stars: {{ repository.stargazers_count }}</p>
</div>
