<form class="login-box" [formGroup]="repositoryForm" (ngSubmit)="onSubmit()">
  <h1>Search repositories</h1>

  <app-forms-error [control]="repositoryForm.controls['username']">
    <input placeholder="Username" formControlName="username" />
  </app-forms-error>

  <button type="submit">SEARCH</button>
</form>
