/* You can add global styles to this file, and also import other style files */
$accent: #32c5f2;
$light-gray: lighten(#000, 90%);
$gray: lighten(#000, 60%);

$font-size: 14px;

html {
  background: $light-gray;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 300;
  color: $accent;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.form-error {
  input {
    border-bottom: 1px solid red;
  }
}

.form-error-text {
  font-size: 11px;
  color: red;
}

.login-box {
  margin: auto;
  margin-top: 100px;

  padding: 60px 30px;

  width: 400px;

  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 3px 6px $gray;

  h1 {
    text-align: center;
  }
}

input {
  padding: 10px 8px;
  margin: 8px 0px;

  background-color: transparent;
  color: $accent;

  border: 0px;
  border-bottom: 1px solid $gray;

  outline: none;

  font-size: $font-size;

  flex: 1;
}

input:focus {
  border-bottom: 1px solid $accent;
}

input::placeholder {
  color: $gray;
}

button {
  padding: 10px 8px;
  margin: 8px 0px;

  background-color: $accent;
  color: white;

  border: 0px;

  outline: none;
  border-radius: 25px;

  font-size: $font-size;
  font-weight: 700;
}

button:hover {
  background-color: lighten($accent, 10%);
}

button:active {
  background-color: lighten($accent, 20%);
}

.repositories-grid {
  padding-left: 25%;
  padding-right: 25%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: max-content;

  .repository-item {
    height: 100%;
    background-color: white;
    box-shadow: 0 3px 6px $gray;
  }
}

.center-text {
  text-align: center;
}
