<div *ngIf="!items.error">
  <h1 class="center-text">Displaying {{ username }} repositories</h1>
  <div *ngIf="items.response.length === 0">
    <h1 class="center-text">User has no repositories</h1>
  </div>

  <div class="repositories-grid">
    <app-repository-item
      *ngFor="let item of items.response"
      [repository]="item"
      class="repository-item"
    ></app-repository-item>
  </div>
</div>
<div *ngIf="!!items.error">
  <h1 class="center-text">{{ items.error.status }} Error</h1>
  <p class="center-text">{{ items.error.message }}</p>
</div>
